.hero {
    @include base-flex(flex, space-between, strech, column);

    @include desktop {
        min-height: 70vh;
    }
    @include desktop-max {
        min-height: 53vh;
    }   

    & h1 {
        @include desktop {
            margin-top: 30px;
        }
    }

    & h2 {
        text-align: right;
        @include desktop-max {
            max-width: 50%;
            margin-left: auto;
        }  
    }
}