img {
    width: 100%;
    height: auto;
    border-radius: $spacers-s;
    filter: grayscale(100%) contrast(130%) opacity(0.6);
    transition: filter .5s ease-in-out;
    
    &:hover {
        filter: grayscale(0%) contrast(100%) opacity(1);
    }
}


.logotipo {
    max-width: 4rem;
    filter: none;
}