.skills {
    @include desktop {
        margin-top: $container-padding-y;
        margin-bottom: $container-padding-y;
    }
    @include desktop-max {
        margin-top: $container-padding-y--mb;
        margin-bottom: $container-padding-y--mb;
    }

    .col-half {
        @include desktop-max {
            margin: $gutters;
            width: calc(50% - 2rem);
        }
    }
    
    & h2 {
        margin-bottom: $spacers-container-l;
    }

    &__name {
        margin-bottom: $spacers-m;
    }
    &__progress {
        display: flex;
        height: 1rem;
        overflow: hidden;
        background-color: rgba($color-white, .1);
        border-radius: 1rem;
        margin-bottom: $spacers-xl;
    }
    &__progress-bar {
        @include base-flex(flex, center, strech, column);
        color: #fff;
        text-align: center;
        background-color: rgba($color-white, .3);
        transition: width .6s ease;
    }
}
