@charset "UTF-8";
/*Convertion Ration sp to rem for html */
/**
*
*
*
* RESET STYLES
*
*
*
**/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/**
*
*
*
* NORMALIZE STYLES
*
*
*
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: Okta Neue;
  font-style: normal;
  font-weight: 700;
  src: local("Okta Neue Bold");
  src: url("/assets/fonts/OktaNeue-Bold.woff2") format("woff2"), url("/assets/fonts/OktaNeue-Bold.ttf") format("truetype"), url("/assets/fonts/OktaNeue-Bold.woff") format("woff");
}

@font-face {
  font-family: Okta Neue;
  font-style: normal;
  font-weight: 400;
  src: local("Okta Neue Normal");
  src: url("/assets/fonts/OktaNeue-Normal.woff2") format("woff2"), url("/assets/fonts/OktaNeue-Normal.ttf") format("truetype"), url("/assets/fonts/OktaNeue-Normal.woff") format("woff");
}

/* Typography */
body {
  text-rendering: optimizeLegibility;
  font-family: Okta Neue,Helvetica,sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 1.5;
  background-color: #130128;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(19, 1, 40, 0.9);
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(19, 1, 40, 0.9);
}

@media only screen and (min-width: 992px) {
  p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  p {
    font-size: 1.125rem;
  }
}

p::-moz-selection {
  background: #fffd37;
  color: #130128;
}

p::selection {
  background: #fffd37;
  color: #130128;
}

p::-moz-selection {
  background: #fffd37;
  color: #130128;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: 700;
  color: #fff;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection {
  background: #fffd37;
  color: #130128;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
  background: #fffd37;
  color: #130128;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection {
  background: #fffd37;
  color: #130128;
}

.base-h1, h1 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.13021px;
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .base-h1, h1 {
    font-size: 10vw;
    line-height: 1;
  }
}

@media only screen and (max-width: 992px) {
  .base-h1, h1 {
    font-size: 16vw;
    line-height: 1.2;
    margin-top: -1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .base-h1, h1 {
    font-size: 14vw !important;
    line-height: 1.1;
  }
}

.base-h2, h2 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.19531px;
  line-height: 1;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 992px) {
  .base-h2, h2 {
    font-size: 7vw;
  }
}

@media only screen and (max-width: 992px) {
  .base-h2, h2 {
    font-size: 13vw;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .base-h2, h2 {
    font-size: 9vw !important;
    line-height: 1.2;
    margin-top: -1rem !important;
  }
}

.base-h3 {
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0px;
}

.base-body1 {
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0px;
}

.base-button, .btn, button {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.78125px;
}

a {
  text-decoration: none;
  color: #fffd37;
}

a:hover {
  color: rgba(255, 253, 55, 0.6);
}

.link-alt, .btn {
  color: #fff;
}

.link-alt:hover, .btn:hover {
  color: rgba(255, 255, 255, 0.6);
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  -webkit-filter: grayscale(100%) contrast(130%) opacity(0.6);
          filter: grayscale(100%) contrast(130%) opacity(0.6);
  -webkit-transition: -webkit-filter .5s ease-in-out;
  transition: -webkit-filter .5s ease-in-out;
  transition: filter .5s ease-in-out;
  transition: filter .5s ease-in-out, -webkit-filter .5s ease-in-out;
}

img:hover {
  -webkit-filter: grayscale(0%) contrast(100%) opacity(1);
          filter: grayscale(0%) contrast(100%) opacity(1);
}

.logotipo {
  max-width: 4rem;
  -webkit-filter: none;
          filter: none;
}

main {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-bottom: 6rem;
}

.m-l-auto {
  margin-left: auto !important;
}

.pd-y--m {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pd-y--l {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pd-y--xl {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pd-b--m {
  padding-bottom: 0.5rem;
}

.pd-b--l {
  padding-bottom: 1rem;
}

.pd-b--xl {
  padding-bottom: 1.5rem;
}

.pd-t--m {
  padding-top: 0.5rem;
}

.pd-t--l {
  padding-top: 1rem;
}

.pd-t--xl {
  padding-top: 1.5rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -1rem;
}

.container-fluid, .container {
  position: relative;
  width: 100%;
  padding: 12.5rem 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.col {
  margin: 1rem;
}

.col-sixth {
  width: calc(16.66667% - 2rem);
  margin: 1rem;
}

.col-half {
  width: calc(50% - 2rem);
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  .col-half {
    width: calc(100% - 2rem);
  }
  .col-half:first-child {
    margin-bottom: 0;
  }
  .col-half:last-child {
    margin-top: 0;
  }
}

.col-third {
  width: calc(33.33333% - 2rem);
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  .col-third {
    width: calc(100% - 2rem);
  }
}

.col-quarter {
  width: calc(25% - 2rem);
  margin: 1rem;
}

@media only screen and (min-width: 992px) {
  .area-grid, body {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header main main nav" "header main main nav" "header footer footer nav";
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .area-grid, body {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header nav" "main main" "footer footer";
    gap: 0.5rem;
  }
}

.header-nav {
  grid-area: nav;
}

@media only screen and (max-width: 992px) {
  .header-nav .container {
    padding: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .header-nav .container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 55vh;
  }
}

main {
  grid-area: main;
}

@media only screen and (max-width: 992px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

header {
  grid-area: header;
}

@media only screen and (min-width: 992px) {
  header .container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer {
  grid-area: footer;
}

@media only screen and (min-width: 992px) {
  footer {
    padding: 3rem 0 2rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 992px) {
  footer {
    padding: 0 1rem 6rem 1rem;
  }
}

button {
  margin: 0;
  background: transparent;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid transparent;
}

.btn--primary {
  position: relative;
  font-size: 1.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: strech;
      -ms-flex-align: strech;
          align-items: strech;
  -webkit-box-pack: strech;
      -ms-flex-pack: strech;
          justify-content: strech;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.btn--primary::before {
  content: "";
  height: 3px;
  width: 30px;
  background: #130128;
  position: absolute;
  left: -30px;
  bottom: -1px;
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: left .85s ease-in-out;
  transition: left .85s ease-in-out;
  pointer-events: none;
}

.btn--primary:hover::before {
  left: calc(100% + 35px);
}

.btn--primary::after {
  content: '';
  width: 100%;
  display: block;
  margin-top: 1rem;
  height: 1px;
  background: #fff;
}

footer a {
  font-size: 1.5rem;
}

@media only screen and (min-width: 992px) {
  header .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  header .container {
    padding-top: 1.5rem;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  header .logotipo {
    margin-top: 0.25vw;
  }
}

@media only screen and (max-width: 992px) {
  header .logotipo {
    margin-top: -10px;
  }
}

a:hover .logotipo {
  opacity: .6;
}

@media only screen and (max-width: 992px) {
  .header-nav {
    -webkit-transition: background-color .5s ease-in-out, height .25s ease-in-out;
    transition: background-color .5s ease-in-out, height .25s ease-in-out;
    width: 100vw;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    height: 0;
  }
}

@media only screen and (min-width: 992px) {
  .header-nav .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  .header-nav.collapse {
    background-color: #130128;
    height: 100vh;
  }
  .header-nav.collapse .container {
    height: 100%;
  }
  .header-nav.collapse .navbar {
    display: block;
    width: calc(100vw - 2rem);
    height: 100%;
    padding-bottom: 2rem;
  }
  .header-nav.collapse .navbar__word {
    width: auto;
  }
}

.header-nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .header-nav .navbar {
    display: none;
  }
}

.header-nav .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}

.header-nav .navbar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.header-nav .navbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.header-nav .navbar__word {
  width: 0%;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
}

.header-nav .navbar:hover .navbar__word {
  width: 100%;
}

#buttonMegaMenu {
  margin-left: auto;
  display: block;
  height: 50px;
  color: white;
  padding: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.6rem;
}

@media only screen and (min-width: 992px) {
  #buttonMegaMenu {
    display: none;
  }
}

#buttonMegaMenu .line {
  display: block;
  background: white;
  height: 2px;
  width: 2.5rem;
  border-radius: 99px;
}

#buttonMegaMenu .line--top {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

#buttonMegaMenu .line--middle {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  margin: 0.5rem 0;
}

#buttonMegaMenu .line--bottom {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

#buttonMegaMenu[aria-expanded="true"] .line--top {
  -webkit-transform: translateY(0.5rem) rotate(45deg);
          transform: translateY(0.5rem) rotate(45deg);
}

#buttonMegaMenu[aria-expanded="true"] .line--middle {
  opacity: 0;
}

#buttonMegaMenu[aria-expanded="true"] .line--bottom {
  -webkit-transform: translateY(-0.75rem) rotate(-45deg);
          transform: translateY(-0.75rem) rotate(-45deg);
}

.social-media {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30vh;
  }
}

@media only screen and (max-width: 992px) {
  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    z-index: 999;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: #130128;
  }
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: strech;
      -ms-flex-align: strech;
          align-items: strech;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 992px) {
  .hero {
    min-height: 70vh;
  }
}

@media only screen and (max-width: 992px) {
  .hero {
    min-height: 53vh;
  }
}

@media only screen and (min-width: 992px) {
  .hero h1 {
    margin-top: 30px;
  }
}

.hero h2 {
  text-align: right;
}

@media only screen and (max-width: 992px) {
  .hero h2 {
    max-width: 50%;
    margin-left: auto;
  }
}

@media only screen and (min-width: 992px) {
  .about-us {
    margin-bottom: 12.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .about-us {
    margin-bottom: 6.25rem;
  }
}

.about-us img {
  position: relative;
  margin-top: -12vh;
}

@media only screen and (min-width: 992px) {
  .about-us img {
    max-width: 550px;
    margin-left: 5px;
  }
}

.about-us__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 992px) {
  .about-us p {
    font-size: 1.75rem;
    padding-left: 7vw;
  }
}

@media only screen and (max-width: 992px) {
  .about-us p {
    font-size: 1.5rem;
    margin-top: 1rem;
    padding-left: 0;
  }
}

@media only screen and (min-width: 992px) {
  .skills {
    margin-top: 12.5rem;
    margin-bottom: 12.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .skills {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }
}

@media only screen and (max-width: 992px) {
  .skills .col-half {
    margin: 1rem;
    width: calc(50% - 2rem);
  }
}

.skills h2 {
  margin-bottom: 3rem;
}

.skills__name {
  margin-bottom: 0.5rem;
}

.skills__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.skills__progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: strech;
      -ms-flex-align: strech;
          align-items: strech;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

@media only screen and (min-width: 992px) {
  .projects {
    margin-bottom: 12.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .projects {
    margin-bottom: 6.25rem;
  }
}

.projects__item {
  margin-bottom: 12vh;
}

.projects__item .projects__title {
  line-height: 1.1;
  margin-left: -7vw;
}

@media only screen and (min-width: 992px) {
  .projects__item .projects__title {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 992px) {
  .projects__item .projects__title {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .projects__item .projects__excerpt {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 992px) {
  .projects__item .projects__excerpt {
    padding-right: 7vw;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .projects__item .projects__skills {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 992px) {
  .projects__item .projects__skills {
    width: calc(93vw - 2rem);
    overflow: scroll;
    padding-top: 1rem;
    margin-top: -1rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
  }
}

.projects__item .projects__skills span {
  padding: 0.5rem 1rem;
  margin-right: 1.5rem;
  border: 1px solid white;
  border-radius: 0.25rem;
}

@media only screen and (max-width: 992px) {
  .projects .projects__body {
    padding-right: 0;
    padding-left: 7vw;
  }
}

.projects__item:nth-child(2n + 1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (min-width: 992px) {
  .projects__item:nth-child(2n + 1) .projects__body {
    padding-right: 7vw;
    padding-left: 7vw;
  }
}

@media only screen and (min-width: 992px) {
  .projects__item:nth-child(2n + 2) .projects__body {
    padding-left: 14vw;
  }
}

@media only screen and (min-width: 992px) {
  .contact {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}

.contact__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
}

.contact__intro h2 {
  line-height: 1.2;
}

.contact__intro p {
  text-align: right;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 992px) {
  .contact__intro p {
    margin-left: -3rem;
  }
}

@media only screen and (min-width: 992px) {
  .contact form {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}

.contact label {
  display: block;
  margin-bottom: 1rem;
}

.contact input:not(.checkbox__input), .contact textarea {
  width: 100%;
  background: transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  line-height: 1.5;
}

@media only screen and (min-width: 992px) {
  .contact input:not(.checkbox__input), .contact textarea {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 992px) {
  .contact input:not(.checkbox__input), .contact textarea {
    margin-bottom: 1.5rem;
  }
}

.contact textarea {
  height: 20vh;
}

.contact .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 992px) {
  .contact .checkbox {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.contact .checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #130128;
  margin: 0;
  margin-right: 1rem;
  border: 1px solid #fff;
  border-radius: 0.15em;
  -webkit-transform: translateY(-0.075em);
          transform: translateY(-0.075em);
  display: inline-block;
  place-content: center;
  height: 1.5rem;
  aspect-ratio: 1;
}

.contact .checkbox__input::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms -webkit-transform ease-in-out;
  transition: 120ms transform ease-in-out;
  transition: 120ms transform ease-in-out, 120ms -webkit-transform ease-in-out;
  -webkit-box-shadow: inset 1em 1em var(--form-control-color);
          box-shadow: inset 1em 1em var(--form-control-color);
}

.contact .checkbox__input:checked::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact .checkbox__label {
  display: inline-block;
  max-width: 350px;
  line-height: 1.5;
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
  .contact .checkbox__label {
    margin-top: -0.75rem;
  }
}

.contact button {
  font-size: 1.75rem;
  margin-top: -1rem;
}
/*# sourceMappingURL=main.css.map */